.recipe-detail-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 3px solid blue; */
    /* width: 60vw; */
    
}

.recipe-image {
    width:300px;
    height:300px;
}

.title-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.recipe-name-text {
    font-family: georgia;
    color: #9e2a2b;
}
.favorite-button {
    /* background-color: red; */
    margin-left: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.favorite-button:hover {
    background-color: red;
    border: 1px solid gray;
    border-radius: 5%;
}

.heart-icon {
    width: 15px;
    height: 15px;
    display: inline-block;
    margin-left: 2px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;

}
  
td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}
  
tr:nth-child(even) {
    background-color: #335c6789;
}

.table-container{
    width: 40vw;
}