.Footer {
    height: 75px;
    background-color: #335c67;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    left:0;
    bottom:0;
    right:0;
}
  
.h1-logo {
    padding: 20px;
  }
  
.h1-logo a {
    text-decoration: none;
    color: white;
  }
  
.h1-logo h1 {
    font-size: 20px;
  }
  
  div ul {
    padding: 20px;
  }
  
  div ul li {
    display: inline-block;
  }
  
  div ul li a {
    text-decoration: none;
    color: white;
  }
  
  .selected {
    border-bottom: 1px solid white;
  }
  
  .right-side-nav ul li:not(:last-child) {
    margin-right: 15px;
  }
  